#navbar {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

#body-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subreddits-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.single-subreddit-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  transition: transform 0.2s;
}

.single-subreddit-container:hover {
  transform: scale(1.02); /* Scale up on hover */
}

#single-subreddit-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.single-post-container {
  display: flex;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow */
  background-color: #f5f5f5; /* Background color */
  transition: transform 0.2s; /* Add a smooth hover effect */
}

.single-post-container:hover {
  transform: scale(1.02);
}

.individual-post {
  display: flex;
  gap: 15px;
  align-items: center;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.subreddit-name {
  align-self: flex-start;
}

.posted-by {
  align-self: flex-end;
}

.votes-container {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
