* {
  margin: 0;
}
#navbar {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

#body-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subreddits-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.single-subreddit-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  transition: transform 0.2s;
}

.single-subreddit-container:hover {
  transform: scale(1.02); /* Scale up on hover */
}

#single-subreddit-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.single-post-container {
  display: flex;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  transition: transform 0.2s;
}

.single-post-container:hover {
  transform: scale(1.02);
}

.single-post-container2 {
  display: flex;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 20px;
  width: 90%;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  transition: transform 0.2s;

  /* Center horizontally */
  margin-left: auto;
  margin-right: auto;
}

.individual-post {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subreddit-name {
  align-self: flex-start;
}

.posted-by {
  align-self: flex-end;
}

.post-buttons {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.votes-container {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  height: 100%;
  justify-content: flex-start;
  gap: 10px;
}

.upvote {
  order: -1; /* Move upvote to the top */
}

.downvote {
  order: 1; /* Move downvote to the bottom */
}

.button-style {
  background-color: #3498db; /* Set your preferred background color */
  color: #ffffff; /* Set your preferred text color */
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 14px; /* Set your preferred font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upvote.voted,
.downvote.voted {
  color: orange; /* Change this to your desired color */
  /* Add other styles for voted state here */
}
